html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}
#intro {
    background: url("../img/bg.jpg") no-repeat center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
}

.mt-10, .my-10 {
    margin-top: 5rem!important;
}

.btn-outline-white {
  border: 2px solid #e9ecef!important;
  background-color: #e9ecef00!important;
  color: #ffffff!important;
}