{% extends "base.html" %}

{% block main %}
<div class="container">
   <div class="row" style="margin-top:5rem" >
      {% for item in data %}
      {% if item.grade %}
      <div class="col-lg-4 col-md-6 mb-2">
         <!-- Card Narrower -->
         <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade overlay">
               <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
               <a>
                  <div class="mask rgba-white-slight"></div>
               </a>
            </div>
            <!-- Card content -->
            <div class="card-body card-body-cascade">
               <!-- Label -->
               <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> {{ item.cuisine_description }}</h5>
               <!-- Title -->
               <h4 class="font-weight-bold card-title">{{ item.name|title }}</h4>
               <h6 class="blue-text pb-2"><strong>{{ item.addr|title }}</strong></h6>
               <!-- Text -->
               <p class="card-text"><strong>Violations were cited in the following area(s):</strong></p>
              
               


               <a class="btn btn-outline-danger waves-effect btn-lg btn-block mb-2" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">Critical Violations</a>
              
               <div class="collapse multi-collapse" id="collapseExample1">
                  <div class="mt-3">
                     
                    
                     <p class="alert alert-danger" role="alert">TEST</p>

                  </div>
               </div>

               <a class="btn btn-outline-warning waves-effect btn-lg btn-block mb-2" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Violations</a>
              
               <div class="collapse multi-collapse" id="collapseExample2">
                  <div class="mt-3">
                     <p class="alert alert-warning" role="alert">Non-food contact surface improperly constructed. Unacceptable material used. Non-food contact surface or equipment improperly maintained and/or not properly sealed, raised, spaced or movable to allow accessibility for cleaning on all sides, above and underneath the unit.</p>
                  </div>
               </div>




               <!-- Button -->
               <div class="btn-group">
                  <button type="button" class="btn btn-info">Info</button>
                  <button type="button" class="btn btn-info dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                     <a class="dropdown-item" href="#">Action</a>
                     <a class="dropdown-item" href="#">Another action</a>
                     <a class="dropdown-item" href="#">Something else here</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Separated link</a>
                  </div>
               </div>
               {% if item.grade %}
               <img src="..\static\img\grades\med_{{ item.grade }}.gif" alt="Grade" class="float-right" width="50px" height="50px">
               {% else %}
               <img src="..\static\img\grades\med_GP.gif" alt="Grade" class="float-right" width="50px" height="50px">
               {% endif %}
            </div>
            
            <!-- Card footer -->
            <div class="card-footer text-muted text-center">
               <i class="far fa-clock pr-2"> {{ item.time_ago }}</i> 
            </div>
         </div>
         <!-- Card Narrower -->
      </div>
      {% endif %}
      {% endfor %}
   </div>
</div>
{% endblock %}