{% extends "base.html" %}
{% block css %}<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">{% endblock %}

{% block intro %}
<div id="intro" class="view ">

    <div class="full-bg-img mask rgba-black-strong container-fluid d-flex align-items-center justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 text-center">
                    <h2 class="display-3 font-bold white-text mb-2">WELCOME TO GRADE ABC</h2>
                    <hr class="hr-light">
                    <h4 class="white-text my-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum at mollitia hic rem? Voluptatibus, quo ratione animi illo eligendi asperiores sequi dolores sapiente hic quia nulla suscipit, iusto officiis iste.</h4>
                    <button type="button" class="btn btn-outline-white">Read more</button>
                </div>
            </div>  
    </div>
</div>

</div>
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>